
#myVideo {
  width: 100vw;
  height: 14vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  cursor: pointer;
}

form {
  max-width: 300px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

form div {
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
}

select{
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  background-color: #4285F4;
}

#signup-message {
  text-align: center;
  margin-top: 20px;
}

footer {
  height: 14vh;
  background-color: rgba(255, 255, 255, 0.5);
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: stretch;
  box-shadow: 0px -8px 8px rgba(0, 0, 0, 0.35);
}

h1 {
  font-size: 70px;
  font-weight: 600;
  color: lightblue;
  text-shadow: -3px 3px #000000, 2px 3px #000000, -2px -2px #000000,3px 3px #000000; 
  
}

footer .footer-section {
  flex-grow: 1;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 33.333%; /* Set max-width to 33.333% */
  overflow: hidden; /* Add overflow: hidden */
  white-space: nowrap; /* Add white-space: nowrap */
  padding: 0 10px; /* Optional padding for the sections */
}

footer .footer-section:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: black;
  right: 0;
  transform: translateX(50%);
}

footer h3 {
  color: #000000;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#myVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.imageDiv {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 30vw;
  position:absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  margin-top: -250px; 
  margin-left: -250px; 
  z-index:-1;

}

