form {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input[type="text"] {
  width: 98%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button[type="button"] {
  display: block;
  margin-top: 10px;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.product-card {
  margin: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
  border: 2px solid #ccc;
  align-items: center;
  border-radius: 5px;
}

.product-card h2 {
  margin-top: 0;
}

.product-card img {
  max-width: 100%;
}

#minimize-form:hover {
  background-color: #075eff;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

#minimize-form:active {
  background-color: #075eff;
  box-shadow: none;
  transform: translateY(0px);
}

.product-card h2 {
  margin-top: 0;

}

.product-card img {
  width: 30%;
  height: auto;
  object-fit: contain;
}

.view-more-btn {
  background-color: indigo;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-more-btn:hover {
  background-color: green;
}

.close-dialog-btn {
  background-color: #ccc;
  border: none;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.close-dialog-btn:hover {
  background-color: #999;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#product-cards {
  grid-template-rows: auto;
  max-width: 50%;
  justify-content: center;
  align-items: center;
}


body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

.sort-label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}





.sort-select {
  display: block;
  margin: 0 auto;
  text-align: center;
}



.sort-select {
  display: block;
  width: 200px;
  height: 40px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  transition: background-color 0.3s ease;
}

.sort-select:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}

.sort-select:focus {
  outline: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.fade-in {
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
