#myVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1555;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

form {
  max-width: 300px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

form div {
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

input[type="number"],
input[type="date"],
input[type="text"],
input[type="password"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
}

select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  background-color: #4285f4;
}

#signup-message {
  text-align: center;
  margin-top: 20px;
}

#footer {
  height: 14vh;
  background-color: rgba(255, 255, 255);
  /* background-color: rgba(255, 255, 255, 0.5); */
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: stretch;
  border: 1px solid #000000;
  transition: background-color 0.5s;
  margin-top: 100%;
}

h1 {
  font-size: 70px;
  font-weight: 600;
  color: lightblue;
  text-shadow: -3px 3px #000000, 2px 3px #000000, -2px -2px #000000,
    3px 3px #000000;
}

footer .footer-section {
  flex-grow: 1;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 33.333%;
  /* Set max-width to 33.333% */
  overflow: hidden;
  /* Add overflow: hidden */
  white-space: nowrap;
  /* Add white-space: nowrap */
  padding: 0 10px;
  /* Optional padding for the sections */
}

footer .footer-section:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: black;
  right: 0;
  transform: translateX(50%);
}

footer h3 {
  color: #000000;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;

  background-image: url("background.jpg");
}

#myVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.imageDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vw;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  margin-top: -250px;
  margin-left: -250px;
  z-index: -7;
}

.profileButton {
  background-color: transparent;
  position: absolute;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  left: 50%;
  background: url("images/profile.png");
}

.center-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cool-text {
  font-family: "Arial", sans-serif;
  font-size: 24px;
  color: black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar {
  display: flex;
  transition: background-color 0.5s, height 0.5s;

  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255);
  padding: 10px;
  z-index: 5500;
  border: 1px solid #000000;
  height: 4vh;
}

.navbar a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.navbar a:hover {
  background-color: #4285f4;
}

.navbar button {
  margin-left: 10px;
  padding: 8px 16px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.navbar button:hover {
  background-color: #4285f4;
}

.newspaper {
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #ccc;
  padding: 20px;
  width: 400px;
  animation-name: fade-in;
  animation-duration: 1s;
}

.newspaper img {
  max-width: 100%;
  height: auto;
}

.newspaper h1 {
  font-size: 24px;
  margin: 10px 0;
}

.newspaper p {
  font-size: 16px;
  margin: 0;
}

.row {
  display: flex;
}

#formFeeContainer {
  position: absolute;
  right: 50px; /* Adjust the distance from the right edge */
}

#signupForm {
  position: relative;
  /* Add any necessary styling for the form */
}

table {
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  background-color: rgb(10, 112, 228);
}

.fees {
  display: flex;
  font-size: 1vw;
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  background-color: rgba(255, 255, 255, 0.5);
}

button[type="submit"]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.profile-heading {
  text-align: center;
  font-size: 24px;
  color: #000000;
  /* Add any other desired styles */
}

.column {
  flex-basis: 13.33%; /* Each column takes up 1/3 of the container width */
  border: 3px solid #0061fd;
}

.columns {
  background-color: rgba(255, 255, 255, 0.5);
}

.discipline-section {
  border: 3px solid #0061fd;
  padding: 10px;
  margin-bottom: 10px;
}

.swimmer {
  border: 3px solid #0061fd;
  padding: 5px;
  margin-bottom: 5px;
  font-size: 22px;
}

h2 {
  margin-bottom: 10px;
  font-size: 34px;
}

h3 {
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: bold;
}

#junior-column,
#senior-column,
#tournament-column {
  display: inline-block;
  vertical-align: top;
  margin-right: 170px;
}

.container {
  display: flex;
  justify-content: center;
}

.user-profiles {
  border-collapse: collapse;
  width: 100%;
}

.table-cell {
  border: 1px solid #fcfcfc;
  padding: 8px;
}

.update-button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  padding: 8px 16px;
}
.delete-button {
  background-color: #e40000;
  color: white;
  border: none;
  cursor: pointer;
  padding: 8px 16px;
}

.update-button:hover {
  background-color: #45a049;
}

#dialog {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  overflow: auto;
  z-index: 9999; /* Set a higher z-index value */
}

.header-cell {
  font-size: 40px; /* Adjust the font size as desired */
}

#open-dialog-button {
  margin: 0 auto;
  background-color: #00a2ff;
  color: white;
  border: none;
  cursor: pointer;
  padding: 16px 32px;
}

.navbar {
  position: relative;
}

.navbar .view-link {
  display: inline-block;
  margin-right: 2%;
  background: transparent;
  border: none;
  padding: 0;
  text-decoration: none;
}
.navbar .view-link img {
  width: 5vw;
}

#welcome-text {
  align-items: center;
  justify-content: center;
  display: flex;
}

#col-md-3 {
  align-items: center;
  justify-content: center;
  display: flex;
}

#wText {
  text-align: center;
}

#myVideo {
  z-index: -55;
}

#curUser {
  font-size: 1.5vw;
  text-align: center;
  display: block;
}

#logoutButton {
  display: none;
}

#profilForm {
  display: none;
}

#signupBtn {
  align-items: center;
  justify-content: center;
  display: flex;
}

#dialog {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

#userDataContainer {
  display: none;
}

.container .column {
  flex: 1;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.about-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.member-card {
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  text-align: center;
  animation-name: fade-in;
  animation-duration: 1s;
}

.member-position {
  font-size: 18px;
  font-weight: bold;
}

.member-name {
  font-size: 16px;
}

.demo-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 800px;
  text-align: center;
  z-index: 9999;
  margin-bottom: 40px;
}
